project_root=devtest

em++ generate.o  web/page1.cpp  vdom.o -o web/main.js -sEXPORTED_FUNCTIONS='["_main","_invokeVNodeCallback","_js_insertHTML","_js_setTitle","_malloc","_free", "_handleRoute", "_animatefps", "_handleEvent"]' -sEXPORTED_RUNTIME_METHODS='["ccall","cwrap", "stringToUTF8","lengthBytesUTF8"]' -sALLOW_MEMORY_GROWTH -sASSERTIONS=1 -sDEFAULT_LIBRARY_FUNCS_TO_INCLUDE='$allocateUTF8' -O0 -g0 